@import "tailwindcss";

:root {
  --background: #464646;
  --foreground: #DDD8D4;
  --text-dark: #464646;
  --text-light: #DDD8D4;
  --text-alt: #909090; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-jetbrains-mono);
  --color-textDark: var(--text-dark);
  --color-textLight: var(--text-light);
  --color-textAlt: var(--text-alt);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

main {
  padding: 40px;
}

.inputStyle {
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-color: var(--color-textLight);
  padding-bottom: 14px;
  padding-left: 8px
}
.inputStyle:focus {
  outline: none;
  border-bottom-color: #f5f5f5;
  color: #f7f7f7;
}

.contact-link {
  position: relative;
}
.contact-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-textLight);
  
  /* Escala a linha para zero e define a origem à esquerda */
  transform: scaleX(0);
  transform-origin: bottom left;
  
  /* Transição suave */
  transition: transform 0.3s ease-out;
}
.contact-link:hover::after {
  transform: scaleX(1);
}

@keyframes animation {
  0% {
  transform: translateY(0px);
  opacity: 1;
}
50% {
  transform: translateY(-8px);
}
100% {
  transform: translateY(0px);
  opacity: 1;
}
}

.animate {
  animation-name: animation;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}