@import "tailwindcss";

:root {
  --background: #464646;
  --foreground: #DDD8D4;
  --text-dark: #464646;
  --text-light: #DDD8D4;
  --text-alt: #909090; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-jetbrains-mono);
  --color-textDark: var(--text-dark);
  --color-textLight: var(--text-light);
  --color-textAlt: var(--text-alt);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  padding: 0 40px;
}
